:root {
    --primary-color: antiquewhite;
    --secondary-color: rgb(187, 179, 179);
    --tertiary-color: rgb(29, 27, 27);
  }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }